name: test

on:
  push:
    branches-ignore:
      - gh-pages
      - 'renovate/**'
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20', '22', '24']
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - run: corepack enable
      - run: corepack prepare

      - run: yarn

      - run: yarn test

      - run: yarn build
